<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        
        <a href="{{ site.linkedin_url }}"><img style="height:auto; margin: 0 0 20px 0;" alt="" width="260" height="260" class="avatar avatar-user width-full border color-bg-primary" src="{{ site.profile_pic_url }}"></a>

        <p>{{ site.description | default: site.github.project_tagline }}</p>


        {% if site.my_nav %} 
          <ul>
          {% for item in site.my_nav %}
              <li class="{% if item.url == page.url %}active{% endif %}">
                <a href="{{ item.url }}">{{ item.title }}</a>
              </li>
          {% endfor %}
          </ul>
       {% endif  %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
          {% if site.show_downloads %}
          <a href="https://dvehar.github.io/files/Desmond_Vehar_Resume.pdf">Resume</a>
          | 
          <a href="{{ site.github.owner_url }}"><img src="https://dvehar.github.io/images/github_icon.png" width="24" height="24" style="vertical-align: middle;"></a>
          <a href="https://www.linkedin.com/in/desmond-vehar/"><img src="https://dvehar.github.io/images/linkedin.jpg" width="24" height="24" style="vertical-align: middle;"></a> 
          <a href="mailto:{{ site.email_contact }}"><img src="https://dvehar.github.io/images/mail_icon.png" width="24" height="24" style="vertical-align: middle;"></a>
          {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
